<table>

  <thead>
    <tr>

      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>

    </tr>
  </thead>
  <tbody>
<% let index=1; dados.forEach(user => {  %>
  <tr <%- req.session.username ? `style="color: white; font-style:bold"` : ``%>>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.celular %></td>
    <td><%= user.password %></td>
    </tr>
    <% index++; });%>
    </tr>

    <% for( let index = 0; index <8; index++) { %>
      <% if (index % 3 == 0) { %>
      <tr>
      <td>
        <p><%= index %></p>
      </td>
      <td>NOME</td>
      <td>EMAIL</td>
      <td>CELULAR</td>
    </tr>
<% } %>
    <% } %>
  </tbody>

</table>